include "conf.d/startup.kdl"
include "conf.d/general.kdl"
include "conf.d/input.kdl"
include "conf.d/cursor.kdl"
include "conf.d/overview.kdl"
include "conf.d/binds.kdl"
include "conf.d/layout.kdl"
include "conf.d/animations.kdl"
include "conf.d/window-rules.kdl"
include "conf.d/environment.kdl"
