input {
    keyboard {
        xkb {
            layout "us"
            options "caps:escape"
        }
    }

    touchpad {
        tap
        natural-scroll
    }

    focus-follows-mouse
    workspace-auto-back-and-forth
}

hotkey-overlay {
    skip-at-startup
}
